$gold: #E5C150;
$arctic: #dddddd;
$background: #0d0d0f;
$black: #0f0f15;
$alt: #242322;
$alt2:rgb(57, 56, 54);

.gold {
    color: $gold;
}

.arctic {
    color: $arctic;
}

.bg-black {
    background-color: $black;
}

.bg-alt {
    background-color: $alt;
}

.bg-alt2 {
    background-color: $alt2;
}